CustomUIPane {
    -fx-background-image: url('grid.png');
}

.block {
    -fx-text-fill: black;
    -fx-border-color: black;
}

.error .block {
    -fx-border-color: red;
}

.block .header {
    -fx-text-fill: black;
}

.block .title {
    -fx-text-fill: black;
}

.block .content {
    -fx-text-fill: black;
}

.function.block {
    -fx-background-color: #E97F02;
}

.value.block {
    -fx-background-color: #BD1550;
}

MatchBlock {
    -fx-background-color: #8DD0D0;
}

.display.block {
    -fx-background-color: #8A9B0F;
}

.graph.block LineChart {
    -fx-background-color: #8A9B0F;
}

.menu {
    -fx-background-color: #490A3D;
    -fx-border-color: black;
}

.menu .title {
    -fx-font-color: #FCEBB6;
    -fx-background-color: #A4849E;
}

.menu .title:hover {
    -fx-background-color: #926C8B;
}

.menu .title .arrow-button .arrow {
    -fx-background-color: #EDE6EC;
    -fx-focus-color: white;
}

.menu Button {
    -fx-background-color: #A4849E;
}

.menu Button:hover {
    -fx-background-color: #926C8B;
}

.menu .list-cell:even {
    -fx-background-color: #DBCED8;
}

.menu .list-cell:odd {
    -fx-background-color: #C8B6C5;
}

.argumentSpace Label {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.argumentSpace Label.rightArgument {
    -fx-text-fill: white;
    -fx-background-color: black;
}

DrawWire {
    -fx-stroke: #0066FF;
    -fx-fill: null;
}

Connection {
    -fx-stroke: #FCEBB6;
    -fx-fill: null;
}

Connection.error {
    -fx-stroke: red;
}

.invisTouchZone { 
    -fx-fill: rgba(0,255,0,0);
}

.anchorPoint {
    -fx-fill: black;
}

.anchorPoint.error {
    -fx-fill: red;
}

.overlayButtons Button {
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.context-menu {
    -fx-background-color: #777;
}

.context-menu .menu-item .label {
    -fx-text-fill: white;
    -fx-font-family: Titillium;
}

ImageView.hoverMenu {
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
}

.def {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.signature {
    -fx-text-fill: white;
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0, 0;
    -fx-background-color: transparent;
}
