.invisTouchZone { 
    -fx-fill: rgba(0,255,0,0.1);
}

.drawwire {
    -fx-stroke: #0066FF;
    -fx-fill: null;
}

Connection {
    -fx-stroke: green;
    -fx-fill: null;
}

Connection.error {
    -fx-stroke: red;
}


* {
    -fx-border-style: solid;
    -fx-border-size: 2px;
}

* > * {
    -fx-border-color: yellow;
}

* > * > * {
    -fx-border-color: red;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

* > * > * > * {
    -fx-border-color: lime;
}

* > * > * > * > * {
    -fx-border-color: fuchsia;
}

* > * > * > * > * > * {
    -fx-border-color: orange;
}

* > * > * > * > * > * > * {
    -fx-border-color: cyan;
}

* > * > * > * > * > * > * > * {
    -fx-border-color: red;
}

CustomUIPane, PreferencesWindow {
    -fx-background-color: #303030;
}

CheckBox * {
	-fx-background-color: rgba(255,255,255,0.0);
	-fx-border-color: rgba(255,255,255,0.0);
}

CheckBox:selected * {
	-fx-border-color: rgba(0,0,0,1.0);
}
