CustomUIPane {
    -fx-background-position: 2500 2500;
}

CustomUIPane, CustomUIPane > Pane > Pane > Pane {
    -fx-min-width: 8000;
    -fx-min-height: 4500;
    -fx-max-width: 8000;
    -fx-max-height: 4500;
}

.menu {
    -fx-font-size: 12px;
    -fx-font-family: Titillium;
    -fx-border-width: 2px;
}

.menu .title {
    -fx-font-weight: bold;
}

.menu .content {
    -fx-font-size: 15px;
    -fx-font-weight: normal;
}

.menu #categorySpace TitledPane {
    -fx-padding: 3px;
}

.menu #utilSpace {
    -fx-padding: 3px;
    -fx-spacing: 6px;
}

.block {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: Titillium;
    -fx-alignment: center-left;
    -fx-border-width: 2px;
}

.block .header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: fantasy;
}

.block .title {
    -fx-padding: 0 10px 0 10px;
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
}

.block .content {
    -fx-font-size: 25px;
    -fx-font-weight: normal;
}

.match.block {
    -fx-padding: 10;
}

.value.block, .display.block {
    -fx-padding: 0 10 0 10;
    -fx-min-width: 100px;
}

SliderBlock .value.block {
    -fx-padding: 5 10 0 10;
}

.graph.block LineChart {
    -fx-font-size: 14px;
}

.argumentSpace {
    -fx-alignment: center;
}

.argumentSpace Label, .argumentLabel {
    -fx-padding: 0 5 0 5;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

.operator {
    -fx-font-size: 32px;
    -fx-font-weight: bolder;
}

.resultType {
    -fx-padding: 0 5 0 5;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

.inputType {
    -fx-padding: 0 5 0 5;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

.curryArrow {
	-fx-padding: 0 2 0 2;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
 }
 
#inputSpace, #outputSpace {
    -fx-max-height: 0px;
    -fx-alignment: center;
}

DrawWire {
    -fx-stroke-width: 5px;
}

Connection {
    -fx-stroke-width: 3px;
}

.overlayButtons Button {
    -fx-font-family: monospace;
    -fx-font-size: 14px;
}

.context-menu .menu-item .label {
    -fx-font-family: Titillium;
}

.signature {
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0, 0;
}

ChoiceBlock {
	-fx-min-width: 200px;
	-fx-min-height: 150px;
}

ChoiceBlock #altSpace {
	-fx-padding: 20 20 20 20;
	-fx-spacing: 20;
}

Lane #guardSpace {
	-fx-pref-width: 300px;
	-fx-pref-height: 400px;
}

Lane #resultSpace {
	-fx-alignment: center;
}

.subtle {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
