CustomUIPane {
    -fx-background-position: 2500 2500;
}

.menu {
    -fx-font-size: 12px;
    -fx-font-family: Titillium;
    -fx-border-width: 2px;
}

.menu .title {
    -fx-font-weight: bold;
}

.menu .content {
    -fx-font-size: 15px;
    -fx-font-weight: normal;
}

.menu #categorySpace TitledPane {
    -fx-padding: 3px;
}

.menu #utilSpace {
    -fx-padding: 3px;
    -fx-spacing: 6px;
}

.block {
	-fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: Titillium;
	-fx-alignment: center-left;
    -fx-border-width: 2px;
}

.block .header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: fantasy;
}

.block .title {
	-fx-padding: 0 10px 0 10px;
	-fx-font-size: 20px;
    -fx-font-weight: bolder;
}

.block .content {
    -fx-font-size: 25px;
    -fx-font-weight: normal;
}

.match.block {
    -fx-padding: 10;
}

.value.block {
    -fx-padding: 0 20 0 20;
}

.display.block {
    -fx-text-alignment: center;
}

.graph.block LineChart {
    -fx-font-size: 14px;
}

.argumentSpace Label {
    -fx-padding: 0 5 0 5;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

#inputSpace, #outputSpace {
	-fx-alignment: center;
}

DrawWire {
    -fx-stroke-width: 5px;
}

Connection {
    -fx-stroke-width: 3px;
}

.overlayButtons Button {
    -fx-font-family: monospace;
    -fx-font-size: 14px;
}

.context-menu .menu-item .label {
    -fx-font-family: Titillium;
}

.signature {
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0, 0;
}
