.block {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-color: aliceblue;
	-fx-border-color: black;
	-fx-border-width: 2;
}

.selected .block {
	-fx-background-color: skyblue;
}

.function.block .title {
	-fx-text-fill: #333333;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}

.function.block .description {
	-fx-font-size: 12px;
	-fx-padding: 0;
}

.function.block .nestSpace {
	-fx-padding: 15;
}

.function.block #argumentSpace Label {
	-fx-padding: 0 5 0 5;
	-fx-font-size: 14px;
	-fx-font-weight: none;
	-fx-background-color:white;
	-fx-border-color: black;
	-fx-border-width: 1;
}

.function.block #argumentSpace Label.result {
	-fx-background-color: black;
	-fx-text-fill: white;
}

.value.block {
	-fx-background-color: #8e44ad;
}

.display.block {
	-fx-background-color: #c0392b;
}

.value.block .title, .display.block .title {

}

.block .title {
	-fx-text-fill: #ecf0f1;
}

.connection {
	-fx-stroke-width: 3px;
	-fx-stroke: black;
	-fx-fill: null;
}
