CustomUIPane {
    -fx-background-image: url('grid.png');
    -fx-background-position: 2500 2500;
}

.block {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: Titillium;
    -fx-background-color: aliceblue;
    -fx-border-color: black;
    -fx-border-width: 2;
}

.error .block {
    -fx-border-color: red;
}
.selected .block {
    -fx-background-color: skyblue;
}

.function.block .title {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.function.block .description {
    -fx-font-size: 12px;
    -fx-padding: 0;
}

.function.block .nestSpace {
    -fx-padding: 15;
}
.typeDisplay Label{
    -fx-text-fill: white;
}

.function.block #argumentSpace Label {
    -fx-padding: 0 5 0 5;
    -fx-font-size: 14px;
    -fx-font-weight: none;
    -fx-background-color:white;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.function.block #argumentSpace Label.error {
    -fx-background-color:pink;
    -fx-border-color: red;
}

.function.block #argumentSpace Label.result {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.value.block {
    -fx-background-color: #8e44ad;
}

.display.block {
    -fx-background-color: #c0392b;
}

.value.block .title, .display.block .title {

}

.block .title {
    -fx-text-fill: #ecf0f1;
}

.connection {
    -fx-stroke-width: 3px;
    -fx-stroke: white;
    -fx-fill: null;
}

.connection.error {
    -fx-stroke: orange;
}


.alert {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 12;
}

.alert .msg {
    -fx-text-fill: black;
    -fx-line-spacing: 0.2em;
}

.alert .btn {
    -fx-background-color: #2980b9;
}

.alert .btn Label {
    -fx-padding: 6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
