CustomUIPane {
    -fx-background-image: url('grid.png');
    -fx-background-position: 2500 2500;
}

.block {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: Titillium;
    -fx-text-fill: black;
    -fx-border-width: 2;
    -fx-border-color: black;
}

.error .block {
    -fx-border-color: red;
}

.selected .block {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.block .header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: fantasy;
    -fx-text-fill: black;
}

.block .title {
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
}

.block .content {
    -fx-font-size: 25px;
    -fx-font-weight: normal;
    -fx-text-fill: black;
}

.selected .function.block {
    -fx-background-color: #BA6602;
}

.function.block {
    -fx-background-color: #E97F02;
}

.selected .value.block {
    -fx-background-color: #971140;
}

.value.block {
    -fx-padding: 0 20 0 20;
    -fx-background-color: #BD1550;
}

.selected .display.block {
    -fx-background-color: #6E7C0C;
}

.display.block {
    -fx-background-color: #8A9B0F;
    -fx-text-alignment: center;
}

.graph.block LineChart {
    -fx-font-size: 14px;
    -fx-background-color: #8A9B0F;
}

.menu.block {
    -fx-font-size: 12px;
    -fx-background-color: #490A3D;
}

.menu.block .title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-color: #FCEBB6;
    -fx-background-color: #A4849E;
}

.menu.block .title:hover {
    -fx-background-color: #926C8B;
}



.menu.block .title .arrow-button .arrow {
    -fx-background-color: #EDE6EC;
    -fx-focus-color: white;
}

.menu.block .content {
    -fx-font-size: 15px;
    -fx-font-weight: normal;
}

.menu.block Button {
    -fx-background-color: #A4849E;
}

.menu.block Button:hover {
    -fx-background-color: #926C8B;
}

.menu.block #categorySpace TitledPane {
    -fx-padding: 3px;
}

.menu.block #utilSpace {
    -fx-padding: 3px;
    -fx-spacing: 6px;
}

.menu.block .list-cell:even {
    -fx-background-color: #DBCED8;
}

.menu.block .list-cell:odd {
    -fx-background-color: #C8B6C5;
}

.argumentSpace Label {
    -fx-padding: 0 5 0 5;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-background-color: white;
}

.argumentSpace Label.rightArgument {
    -fx-text-fill: white;
    -fx-background-color: black;
}

.argumentSpace .error Label{
    -fx-background-color:red;
    -fx-border-color: red;
    -fx-text-fill: white;
}

.connection {
    -fx-stroke-width: 3px;
    -fx-stroke: #FCEBB6;
    -fx-fill: null;
}

.connection.error {
    -fx-stroke: red;
}

.invisTouchZone { 
    -fx-fill: rgba(0,255,0,0);
}

.anchorPoint {
    -fx-fill: black;
}

.alert {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-padding: 12;
}

.alert .msg {
    -fx-text-fill: black;
    -fx-line-spacing: 0.2em;
}

.alert .btn {
    -fx-background-color: #2980b9;
}

.alert .btn Label {
    -fx-padding: 6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.overlayButtons Button {
    -fx-font-family: monospace;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.context-menu {
    -fx-background-color: #777;
}

.context-menu .menu-item .label {
    -fx-text-fill: white;
    -fx-font-family: Titillium;
}

ImageView.hoverMenu {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 20, 0, 0, 0);
}

.def {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.signature {
    -fx-text-fill: white;
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0, 0;
    -fx-background-color: rgba(0, 0, 0, 0);
}
